@media screen {
    
}


.topnav{
    padding: 10px;
}

.title{
    font-size: large;
    font-weight: 100;
}

.sign_in{
    margin-left: 0%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(15 23 42);
  color: white;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Inter', sans-serif;
}

